<div class="row">
  <div class="col-md-6">
    <div class="row-divide">
      <div class="member text-center">
        <div class="img-responsive img-circle member-img center-block" alt="Responsive image"></div>
        <h4><div class="orbitron">STEVE HARDEN</div></h4>
        <P>Founder/CEO</P>
        <blockquote>
         <p>Is a longtime bassist, technologist, and the visionary for Mocree. Innovation is in his DNA, so its no surprise that his vision is to improve they way musicians collaborate for the better.</p>
        </blockquote>
      </div>
    </div>
    <div class="row-divide">
      <div class="member text-center">
        <div class="img-responsive img-circle member-img center-block" alt="Responsive image"></div>
        <h4><div class="orbitron">TIRELL MCKINNON</div></h4>
        <P>Developer</P>
        <blockquote>
         <p>Short bio statment here. Short bio statment here. Short bio statment here.</p>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row-divide">
      <div class="member text-center">
        <div class="img-responsive img-circle member-img center-block" alt="Responsive image"></div>
         <h4><div class="orbitron">MAX KRAMER</div></h4>
         <P>Co-Founder/ CTO</P>
        <blockquote>
         <p>Short bio statment here. Short bio statment here. Short bio statment here.</p>
        </blockquote>
      </div>
    </div>
    <div class="row-divide">
      <div class="member text-center">
        <div class="img-responsive img-circle member-img center-block" alt="Responsive image"></div>
        <h4><div class="orbitron">MARK KAMMEL</div></h4>
        <P>Marketing</P>
        <blockquote>
         <p>Short bio statment here. Short bio statment here. Short bio statment here.</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>