<footer class="site-footer">
  <div class="wrapper">
    <div class="text-center social-icons fadeIn fadeIn-2s">
      <!-- <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
      <a href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>-->
      <a href="mailto:steven@mocree.com?Subject=Hello" target="_top"><i class="fa fa-2x fa-envelope"></i></a>
    </div>
  </div>
</footer>
