<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page-content">
      <div class="section">

      </div>
      <div class="section">

      </div>
    </div>
    <div class="section-brand">
      <img src="{{ site.baseurl }}/assets/mocree-logo.png" class="img-responsive center-block" alt="Mocree logo">
      <img src="{{ site.baseurl }}/assets/coding-in-progress.png" class="img-responsive center-block fadeIn fadeIn-2s" alt="coding-in-progress">
    </div>
    {% include footer.html %}
  </body>

</html>
